# Dependencias
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de construcción
dist
.output

# Archivos de desarrollo
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode
.idea
*.swp
*.swo

# Archivos de Git
.git
.gitignore

# Archivos de Docker
Dockerfile
.dockerignore

# Archivos de documentación
README.md
*.md

# Archivos de testing
coverage
.nyc_output

# Archivos temporales
tmp
temp 